{% extends 'base.html' %}
{% load i18n static %}
{% load static %}

{% block main %}
    <div class="errorlist">
        {{ form.non_field_errors }}
        {{ form.name_of_field.errors }}
    </div>
     <form  method="post" id="cfd_form">{% csrf_token %}
         <div class="row">
            <div class="col-4">
                {% include "snippets/form_snippet.html" with form=form fieldsets=fieldsets %}
            </div>
            <div class="col-4">
                {% include "snippets/form_snippet.html" with form=form fieldsets=fieldsets extra=True %}
            </div>
            <div class="col-4">
                {% include "snippets/form_snippet.html" with form=form fieldsets=fieldsets extra=True %}
            </div>
         </div>

         
            
       <input class="btn btn-primary" type="submit" value="Save" />
    </form>

    <script>

    $(document).ready(function(){
        $(".RETAIL_90_MAIL_RATES_B_FIELD").hide($("#id_RETAIL_90_MAIL_RATES_B").val().substring(0,1) != "Y");
        $(".RETAIL_90_MAIL_RATES_G_FIELD").hide($("#id_RETAIL_90_MAIL_RATES_B").val().substring(0,1) != "Y");

        $("#id_RETAIL_90_MAIL_RATES_B").change(function(){
            $(".RETAIL_90_MAIL_RATES_B_FIELD").toggle($("#id_RETAIL_90_MAIL_RATES_B").val() != "N");
            });

        $("#id_RETAIL_90_MAIL_RATES_G").change(function(){
            $(".RETAIL_90_MAIL_RATES_G_FIELD").toggle($("#id_RETAIL_90_MAIL_RATES_G").val() != "N");
            });
    });

    $('cfd_form :input').change(function(){
        alert("Form changed");
    });

    </script>

 {% endblock %}

{% block scripts %}

<script src="{% static '/admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="{% static '/admin/js/jquery.init.js' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script src="{% static '/js/collapse.js' %}"></script>

{% endblock %}