{% extends 'base.html' %}
{% load i18n static %}
{% load filters %}
{% load static %}

{% block main %}
     <form  method="post" id="cfd_form">{% csrf_token %}
         <div class="row">
            {% if formset %}
                {{ formset.management_form }}
                {% for form in formset %}
                
                    <div class="col">
                         {% if forloop.counter > 1 and forloop.counter != formset|length %}
                            {% include "snippets/form_snippet.html" with form=form fieldsets=fieldsets errors=formset.errors|get_index:forloop.counter0 index=forloop.counter0 extra=True %}
                         {% elif forloop.counter > 1 and forloop.counter == formset|length %}
                            {% include "snippets/form_snippet.html" with form=form fieldsets=fieldsets errors=formset.errors|get_index:forloop.counter0 index=forloop.counter0 extra=True last=True%}
                         {% else %}
                            {% include "snippets/form_snippet.html" with form=form fieldsets=fieldsets errors=formset.errors|get_index:forloop.counter0 index=forloop.counter0 %}
                         {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="col">
                    {% include "snippets/form_snippet.html" with form=form fieldsets=fieldsets index=0 last=True %}
                </div>
            {% endif %}           
         </div>

         
            
       <input class="btn btn-primary" type="submit" value="Save" />
    </form>

 {% endblock %}

{% block scripts %}

<script src="{% static '/admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="{% static '/admin/js/jquery.init.js' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script src="{% static '/js/collapse.js' %}"></script>

<script>

    $(document).ready(function(){
        $(".RETAIL_90_MAIL_RATES_B_FIELD").hide($("#id_RETAIL_90_MAIL_RATES_B").val().substring(0,1) != "Y");
        $(".RETAIL_90_MAIL_RATES_G_FIELD").hide($("#id_RETAIL_90_MAIL_RATES_B").val().substring(0,1) != "Y");

        $("#id_RETAIL_90_MAIL_RATES_B").change(function(){
            $(".RETAIL_90_MAIL_RATES_B_FIELD").toggle($("#id_RETAIL_90_MAIL_RATES_B").val() != "N");
            });

        $("#id_RETAIL_90_MAIL_RATES_G").change(function(){
            $(".RETAIL_90_MAIL_RATES_G_FIELD").toggle($("#id_RETAIL_90_MAIL_RATES_G").val() != "N");
            });
    });

    $(".input-copy").click(function(e){
        e.preventDefault();
        var elem = e.target;
        var neighbours = elem.parentElement.children;

        var inputField = null;
        for (var count = 0; count < neighbours.length; count ++){
            var currentElem = neighbours[count];
            if (currentElem.id === elem.dataset.target){
                inputField = currentElem;
            }
        }

        var currentIndex = Number(elem.dataset.index);
        var fieldNameSuffix = inputField.name.split("-");
        fieldNameSuffix = fieldNameSuffix.slice(2, fieldNameSuffix.length);
        fieldNameSuffix = fieldNameSuffix.join("-");   

        while (true){            
            var nextFieldName = "form-" + String(currentIndex + 1) + "-" + fieldNameSuffix;
            var nextField = document.getElementsByName(nextFieldName)[0];

            if (nextField == undefined || nextField == null) {
                break
            }
            
            nextField.value = inputField.value;

            currentIndex += 1;
        }
        
    })

    $('cfd_form :input').change(function(){
        alert("Form changed");
    });

</script>
{% endblock %}