<!--Template for the standard update screen-->
<!-- This line specifies that the content here should be merged into the base.html-->
{% extends 'base.html' %}
{% load i18n static %}
{% load filters %}
{% load static %}

{% block main %}
    <!--begin Search Form-->
    <div id="field-search-container">
        <label id="field-search-label"> Search Fields </label>
        <input id="field-search" type="text"/>
    </div>
    <!--End Search Form-->

    <form  method="post" id="cfd_form">{% csrf_token %}
         <div class="row">
            {% if formset %}
                {{ formset.management_form }}
                <div class="col">
                    {% include "snippets/formset.html" with formset=formset fieldsets=fieldsets R90_B_LIST=RETAIL_90_MAIL_RATES_B_LIST R90_G_LIST=RETAIL_90_MAIL_RATES_G_LIST %}
                </div>
            {% else %}
                <div class="col">
                    {% include "snippets/form_snippet.html" with form=form fieldsets=fieldsets %}
                </div>
            {% endif %}           
         </div>

        {% if create %}
            <input id="submit" class="btn btn-primary" type="submit" value="Save as Pending" />

            <button type="button" class="btn btn-primary cfd-btn" data-toggle="modal" data-target="#myModal">
                Save and Submit
            </button>
                
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                            
                    <div class="modal-header">
                        <h4 class="modal-title">Confirm Form Submission</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                
                    <div class="modal-body">
                        Confirm your changes and submit.
                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <input id="submit" class="btn btn-primary" type="submit" value="Save" />
                    </div>
                
                    </div>
                </div>
            </div>
        {% else %}
            <input id="submit-pending" class="btn btn-primary" type="submit" value="Save as Pending" />

            <input id="submit" class="btn btn-primary" type="submit" value="Save and Submit" />
       {% endif %}
    </form>

 {% endblock %}

{% block scripts %}

<script src="{% static '/admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="{% static '/admin/js/jquery.init.js' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script src="{% static '/js/collapse.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{% static '/js/forms.js' %}"></script>

{% endblock %}