{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <h1>Client Financial Data</h1>
        <table>
          {% for r in object_list %}
          <tr><td><a href="{% url "cfd:cfd_edit" r.id %}">{{ r.CLIENT }}: {{ r.START_DATE }} - {{ r.END_DATE }}</a></td>
          <td><a href="{% url "cfd:cfd_copy" r.id %}">Copy</a></td>
          <td><a href="{% url "cfd:cfd_delete" r.id %}">Delete</a></td>
          </tr>
          {% endfor %}
        </table>
<p/><p/>
        <a href="{% url "cfd:cfd_new" %}">New Client Financial Data entry</a> |
        <a href="{% url "cfd:template_list" %}">New Client Financial Data entry from template</a>
    </div>
{% endblock %}