{% extends 'base.html' %}
{% load i18n static %}
{% load filters %}
{% load static %}

{% block main %}
     <form  method="post" id="cfd_form">{% csrf_token %}
         <input type="hidden" name="confirmed" value="True"/>
         <div class="row">
            {% if formset %}
                {{ formset.management_form }}
               <div class="col">
                     {% include "snippets/formset.html" with formset=formset changed=changed confirmation=True fieldsets=fieldsets R90_B_LIST=RETAIL_90_MAIL_RATES_B_LIST R90_G_LIST=RETAIL_90_MAIL_RATES_G_LIST %}
               </div>
            {% else %}
                <div class="col">
                    {% include "snippets/form_snippet.html" with form=form fieldsets=fieldsets changes=changed confirmation=True index=0 last=True %}
                </div>
            {% endif %}           
         </div>

         
            
       <input class="btn btn-primary" type="submit" value="Confirm Changes" />
    </form>

 {% endblock %}

{% block scripts %}

<script src="{% static '/admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="{% static '/admin/js/jquery.init.js' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script src="{% static '/js/collapse.js' %}"></script>

{% endblock %}