{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <h1>Client Financial Data Templates</h1>
        <table>
          {% for r in object_list %}
          <tr><td width=255><a href="{% url "cfd:cfd_edit" r.id %}">{{ r.CONTRACT_DESCRIPTION }}</a></td>
          <td><a href="{% url "cfd:cfd_copy" r.id %}">Create New From Template</a></td>
          <td><a href="{% url "cfd:cfd_delete" r.id %}">Delete</a></td>
          </tr>
          {% endfor %}
        </table>
<p/><p/>
        <a href="{% url "cfd:cfd_new" %}">Create New Template</a>
    </div>
{% endblock %}