{% load filters %}

<div>
{% for fieldset in fieldsets %}
    <fieldset class="module aligned collapse collapsed {{forloop.counter}}-{{fieldset.0}}">       
        <h2> 
            {{ fieldset.0 }} 
        </h2>

        {% for field in fieldset.1.fields %}
            <div class="row form-row fieldWrapper">
            {% for form in formset %}

                {% with field=form|get_field_data:field errors=formset.errors|get_index:forloop.counter0 data=formset|get_form_metadata:forloop.counter0 %}

                    {% if data.first %}
                        <div class="col">
                            {{ field.label_tag }}
                        </div>
                    {% endif %}

                    <div class="col input-col">
                        {{ field.field }}                  
                        
                        {% if not data.last %}

                            <a class="input-copy" href="#" data-target="{{field.field.id_for_label}}" data-index="{{data.index}}">
                                <span class="oi oi-chevron-right"></span>
                            </a>
                        {% else %}
                            <div class="input-copy"></div>
                        {% endif %}                        
                        
                        <div class="error-container">
                            {% if errors %}
                                
                                {% with error=errors|get_key:field.name %}

                                    {% if error %}
                                        <div class="error fieldset-input-error">
                                            {{ error }}
                                        </div>
                                    {% endif %}

                                {% endwith %}

                            {% endif %}
                                
                        </div>
                        
                    </div>  
                    
                    {% if data.last %}
                    <div class="col-1">
                        {% if data.last and field.help_text %}
                            <div class="help">{{ field.help_text|safe }}</div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endwith %}  

            {% endfor %}
            </div>  

        {% endfor %}
    </fieldset>                                            

{% endfor %}
</div>