{% load filters %}

<div>
{% for fieldset in fieldsets %}
    <fieldset class="module aligned collapsed {{fieldset.1.classes|join:' '}} {{forloop.counter}}-{{fieldset.0}}">
        {% if extra %}
            <h2 class="blank">                
            </h2>
        {% else %}
            <h2> 
                {{ fieldset.0 }} 
            </h2>
        {% endif %}        

        {% for field in fieldset.1.fields %}
            
            {% with field=form|get_field_data:field %}        
                {% if field.name in RETAIL_90_MAIL_RATES_B_LIST %}
                    <div class="row form-row RETAIL_90_MAIL_RATES_B_FIELD fieldWrapper">
                {% elif field.name in RETAIL_90_MAIL_RATES_G_LIST %}
                    <div class="row form-row RETAIL_90_MAIL_RATES_G_FIELD fieldWrapper">
                {% else %}
                    <div class="row form-row fieldWrapper"> <!-- no match in loop, normal row -->
                {% endif %}
                        <div class="col-3">{{ field.label_tag }}</div>

                        {% if confirmation %}
                            {% if changes|get_key:field.name %}
                                <div class="col-9 input-col fieldset-field-changed">
                            {% else %}
                                <div class="col-9 input-col">
                            {% endif %}                            
                                {{ field.field.value|default_if_none:"" }}
                                {% if field.help_text %}
                                    <div class="help">{{ field.help_text|safe }}</div>
                                {% endif %}
                            </div>                            
                        {% else %}
                            <div class="col-9 input-col">
                                {{ field.field }}
                               
                                {% if field.help_text %}
                                    <div class="help">{{ field.help_text|safe }}</div>
                                {% endif %}
                                
    
                                <div class="error-container">
                                    {% if errors %}
                                        
                                        {% with error=errors|get_key:field.name %}
    
                                            {% if error %}
                                                <div class="error fieldset-input-error">
                                                    {{ error }}
                                                </div>
                                            {% endif %}
    
                                        {% endwith %}
    
                                    {% endif %}
                                    
                                </div>
                                
                            </div>    
                        {% endif%}                                                                    
                    </div>                
            {% endwith %}  

        {% endfor %}
    </fieldset>                                            

{% endfor %}
</div>