<!doctype html>
<html lang="en">
<head>
    <title>Remedy Client Financial Database</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/static/cfd/style.css">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">


</head>
<body>
<!-- Header -->
<div id="header">
    <div id="branding">
        <h1 id="site-name"><a href="/cfd/">Remedy Client Financial Database</a></h1>
    </div>
    <div id="user-tools">
        Welcome, <strong>dan</strong>.
        <a href="/cfd/">Home</a> /
        <a href="/admin/">Admin Site</a>
        <a href="/admin/password_change/">Change password</a> /
        <a href="/admin/logout/">Log out</a>
    </div>
</div>
<!-- END Header -->
<hr>
{% block main %}
{% endblock %}
</body>
</html>